@charset UTF-8;
/* ================================================ */
/*               全体設定                */
/* ================================================ */

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

/* ================================================ */
/*ヘッダー：など場所をこまめに書く！*/
/* ================================================ */
.page_top {
	position: fixed;
    right: 50px;
    bottom: 40px;
    cursor: pointer;
    z-index: 9;
}

.page_top img {
	width: 130px;
    height: 130px;
}

.header_nav {
	position: fixed;
	width: 100%;
	height: 90px;
	background-color: #b1c1d5;
	z-index: 10;
	opacity: 0.9;
}

.header_logo {
	float: left;
	display: flex;
	align-items: center;
	margin-left: 50px;
}

.header_logo:hover {
	transform: translateY(-5px);
}

.header_logo a {
	text-decoration: none;
}

.header_logo h1 {
	font-size: 60px;
	color: #3e435d;
	font-family: Apple Chancery;
}

.header_logo img {
	width: 90px;
	height: 90px;
}

.header_list {
	float: right;
	padding: 20px;
}

.header_list ul {
	margin: 0 auto;
}

.header_list li {
	float: left;
	display: flex;
	padding: 15px;
	font-size: 20px;
	font-family: Apple Chancery;
	font-weight: bold;
}

.header_list a {
	color: #3e435d;
	text-decoration: none;
	border-bottom: 2px dotted #CD6C85;
}

.header_list a:hover {
	transform: translateY(-5px);
}

.header_list a:visited {
　　color: #3e435d;
}

.drawer {
  display: none;
}

.main_image {
	position: relative;
	top: 0px;
	left: 0px;
}

.main_image img{
	width: 100%;
	height: 750px;
}

.main_text {
	position: absolute;
	top: 45%;
	left: 5%;
}

.main_text h1 {
	font-size: 20px;
	font-family: 游明朝体, Sans-Serif;
	color: #474d6b;
}

.main_text span {
	font-size: 70px;
	font-family: Apple Chancery;
	color: #474d6b;
}

/* ================================================ */
/*メインコンテンツ*/
/* ================================================ */

.concept {
	width: 100%;
	height: 880px;
	background-color: #f8e8e6;
}

.title {
	padding: 160px 0;
	padding-bottom: 70px;
	width: 300px;
	margin: 0 auto;
	background-image: url("images/title_img.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 180px;
}

.title h2 {
	font-size: 45px;
	color: #474d6b;
	font-family: Apple Chancery;
	text-align: center;
}

.concept_intro {
	text-align: center;
}

.concept_intro h3 {
	font-size: 20px;
	color: #333333;
  	font-family: 游明朝体, Sans-Serif;
  	line-height: 33px;
  	text-align: center;
}

.concept_contents {
	display: flex;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
}

.concept_contents p {
	font-family: 游明朝体, Sans-Serif;
	font-size: 17px;
	color: #333333;
	line-height: 38px;
	padding: 20px;
}

.concept_contents img {
	padding: 10px;
}

.link_button {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.link_button a {
	font-size: 25px;
	font-family: Athelas;
	text-decoration: none;
	color: #e7aaa2;
	padding: 20px;
	border-radius: 5px;
	background-color: #ffffff;
	transition-property: all;
	transition: 0.3s linear;
	box-shadow: 8px 8px 5px -4px #ccc;
}

.link_button a:hover {
	color: #ffffff;
	background-color: #f6988c;
}

/*商品紹介*/

.products {
	width: 100%;
	height: 970px;
	background-image: url("images/products_back.png");
	background-size: cover;
}

.products_intro h3 {
	font-family: 游明朝体, Sans-Serif;
	font-size: 18px;
	color: #333333;
	text-align: center;
	line-height: 33px;
	top: 30px;
	bottom: 30px;
}

.products_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 960px;
	padding: 30px;
	margin: 0 auto;
}

.products_items img {
	width: 290px;
	height: 200px;
	padding: 5px;
	background-color: #ffffff;
}

/*ワークショップ*/

.workshop {
	width: 100%;
	height: 1200px;
	background-color: #f8e8e6;
}

.workshop_contents01 {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.workshop_contents01 img {
	padding: 10px;
	width: 300px;
	height: 210px;
}

.workshop_contents01 p {
	font-size: 18px;
	color: #333333;
	font-family: 游明朝体, Sans-Serif;
	padding: 30px;
	line-height: 33px;
}

.workshop_contents02 {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.workshop_contents02 img {
	padding: 10px;
	width: 300px;
	height: 210px;
}

.workshop_contents02 span {
	font-size: 23px;
	border-bottom: 2px dotted #CD6C85;
}

.workshop_contents02 p {
	font-size: 18px;
	color: #333333;
	font-family: 游明朝体, Sans-Serif;
	padding: 30px;
	line-height: 33px;
}

/*ニュース*/
.notice {
	width: 100%;
	height: 1150px;
	background-image: url("images/notice_back.png");
	background-size: cover;
}

#modal_check01 {
	display: none;
}

#modal_check02 {
	display: none;
}

#modal_check03 {
	display: none;
}

.heading {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.modal_overlay {
	background-color: #000;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 15;
	pointer-events: none;
}

#modal_check01:checked ~ .modal_overlay {
	opacity: 0.4;
	pointer-events: auto;
}

#modal_check02:checked ~ .modal_overlay {
	opacity: 0.4;
	pointer-events: auto;
}

#modal_check03:checked ~ .modal_overlay {
	opacity: 0.4;
	pointer-events: auto;
}

.modal_content {
	display: none;
	background-color: #fff;
	width: 700px;
	max-width: 100%;
	height: 250px;
	padding: 40px 0;
	text-align: center;
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading:hover {
	transform: translateY(-5px);
	cursor: pointer;
}

.notice_01 .content p {
	font-size: 15px;
	line-height: 30px;
	text-align: left;
}

.modal_button {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
	padding: 30px;
}

#modal_check01:checked ~ .modal_content {
 	display: block;
}

#modal_check02:checked ~ .modal_content {
 	display: block;
}

#modal_check03:checked ~ .modal_content {
 	display: block;
}

.notice_01 img {
	width: 230px;
	height: 160px;
	padding: 10px;
}

.notice_01 span {
	font-size: 23px;
	border-bottom: 2px dotted #CD6C85;
}

.notice_01 p {
	font-size: 18px;
	font-family: 游明朝体, Sans-Serif;
	line-height: 30px;
	color: #333333;
	padding: 30px;
	width: 270px;
}

/*アクセス*/
.access {
	width: 100%;
	height: 1200px;
	background-color: #f8e8e6;
}

.access_contents {
	display: flex;
	align-items: center;
	justify-content: center;
}

.access_contents img {
	padding: 15px;
	width: 260px;
	height: 360px;
}

.access_contents tr {
	text-align: left;
}

.access_contents th {
	font-family: 游明朝体, Sans-Serif;
	font-size: 20px;
	color: #333333;
	line-height: 35px;
	padding: 5px;
	padding-left: 30px;
}

.map_link {
	text-align: center;
}

/*お問い合わせフォーム*/
.contact {
	width: 100%;
	height: 1300px;
	background-image: url("images/contact_back.png");
	background-size: cover;
}

.contact_intro p {
	text-align: center;
	font-size: 18px;
	font-family: 游明朝体, Sans-Serif;
	line-height: 30px;
	color: #333333;
	padding-bottom: 30px;
}

.Form {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-size: 20px;
  font-family: 游明朝体, Sans-Serif;
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

.Form-Item-Label-Required {
  border-radius: 5px;
  margin-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #e7aaa2;
  color: #fff;
  font-size: 14px;
  font-family: 游明朝体, Sans-Serif;
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #ffffff;
  font-size: 18px;
  font-family: 游明朝体, Sans-Serif;
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #ffffff;
  font-size: 18px;
}

.Form-Btn {
  border-radius: 5px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 250px;
  display: block;
  letter-spacing: 0.05em;
  background: #ffffff;
  color: #e7aaa2;
  font-family: Athelas;
  font-size: 28px;
  box-shadow: 10px 10px 7px -4px #ccc;
  border: none;
}

.Form-Btn:hover {
	color: #ffffff;
	background-color: #f6988c;
}


/* ================================================ 
/*フッター*/
/* ================================================ */
.footer {
	width: 100%;
	height: 100px;
	margin-top: 40px;
	text-align: center
}

/*================================================
PC small : 画面の横幅が1024pxまで
==================================================*/
@media screen and (max-width: 1024px){

.header_list li {
	padding: 10px;
	font-size: 15px;
	padding-top: 15px;
}


.main_text {
	position: absolute;
	top: 40%;
	left: 5%;
}

.main_text h1 {
	font-size: 20px;
}

.heading {
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

/*================================================
Tablet : 画面の横幅が768pxまで
==================================================*/
@media screen and (max-width: 768px){

/*ヘッダー＆メインイメージ部分*/
.container {
	display: none;
}

.header_nav {
	height: 70px;
}

.header_logo {
	display: flex;
	margin-left: 30px;
}

.header_logo h1 {
	font-size: 40px;
}

.header_logo img {
	width: 70px;
	height: 70px;
}

.header_list {
	display: none;
}

.main_image {
	height: 400px;
	position: relative;
}

.main_image img {
	height: 400px;
}

.main_text {
	display: none;
}

/*ハンバーガーメニュー*/
.drawer {
	display: block;
}

.drawer_checkbox {
  display: none;
}

.drawer_icon {
  display: block;
  position: fixed;
  right: 0;  
  width: 66px;
  height: 70px;
  cursor: pointer;
  z-index: 7;
}

.drawer_icon-item, .drawer_icon-item:before, .drawer_icon-item:after {
  background-color: #474d6b;
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.drawer_icon-item:before {
  content: '';
  top: 18px;
}

.drawer_icon-item:after {
  content: '';
  top: -18px;
}

.drawer_checkbox:checked ~ .drawer_icon .drawer_icon-item {
  background: transparent;
}

.drawer_checkbox:checked ~ .drawer_icon .drawer_icon-item:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.drawer_checkbox:checked ~ .drawer_icon .drawer_icon-item:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.drawer_icon-item, .drawer_icon-item:after, .drawer_icon-item:before, .drawer_overlay, .drawer_menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.drawer_overlay {
  background: #fff;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
}

.drawer_checkbox:checked ~ .drawer_overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.drawer_menu {
  background-color: #fff;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 5;
}

.drawer_checkbox:checked ~ .drawer_menu {
  right: 0;
}

.drawer_menu ul {
	padding: 20px;
}

.drawer_menu a {
	font-family: 游明朝体, Sans-Serif;
	font-size: 20px;
	font-weight: bold;
	color: #3e435d;
	line-height: 40px;
	text-decoration: none;
	border-bottom: 2px dotted #CD6C85;
}

/*コンセプト*/
.concept {
	margin-top: 0;
	height: 750px;
}

.title {
	padding-top: 140px;
	padding-bottom: 30px;
	background-size: 130px;
	background-position: bottom;
}

.title h2 {
	font-size: 35px;
}

.concept_intro h3 {
	padding-top: 20px;
	font-size: 18px;
}

.concept_contents p {
	font-size: 16px;
}

.concept_contents img {
	width: 200px;
	height: 140px;
}

.link_button a {
	background-color: #f9aaa0;
	color: #ffffff;
}

/*商品紹介*/
.products {
	height: 800px;
}

.products_intro h3 {
	font-size: 16px;
	padding-top: 20px;
}

.products_items {
	width: 480px;
}

.products_items img {
	width: 200px;
	height: 140px;
	background-color: #ffffff;
}

/*ワークショップ*/
.workshop {
	height: 900px;
}

.workshop_contents01 {
	width: 90%;
	padding: 20px;
}

.workshop_contents01 img {
	width: 200px;
	height: 140px;
}

.workshop_contents01 p {
	font-size: 16px;
	padding: 25px;
	line-height: 25px;
}

.workshop_contents02 {
	width: 90%;
	padding: 20px;
}

.workshop_contents02 img {
	width: 200px;
	height: 140px;
}

.workshop_contents02 span {
	font-size: 20px;
}

.workshop_contents02 p {
	font-size: 16px;
	padding: 25px;
	line-height: 25px;
}

/*ニュース*/
.notice {
	height: 1200px;
}

.heading {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.notice_01 span {
	font-size: 20px;
}

.notice_01 p {
	font-size: 16px;
}

/*アクセス*/
.access {
	height: 950px;
}

.access_contents {
	margin-top: 0;
}

.access_contents img {
	width: 230px;
	height: 330px;
}

.access_contents th {
	line-height: 30px;
	font-size: 16px;
}

/*お問い合わせフォーム*/
.contact {
	height: 1200px;
}

.Form-Btn {
	background-color: #f9aaa0;
	color: #ffffff;
}


/*================================================
Smartphone :  画面の横幅が640pxまで
=================================================*/
@media screen and (max-width:640px){

/*ヘッダー＆メインイメージ*/
.header_nav {
	height: 40px;
}

.header_logo {
	margin-left: 10px;
}

.header_logo h1 {
	font-size: 25px;
}

.header_logo img {
	width: 40px;
	height: 40px;
}

.header_list {
	display: none;
}

.main_image {
	height: 210px;
}

.main_image img {
	height: 210px;
}

/*ハンバーガーメニュー*/
.drawer {
	display: block;
}

.drawer_checkbox {
  display: none;
}

.drawer_icon {
  display: block;
  position: fixed;
  right: 0;  
  width: 36px;
  height: 40px;
  cursor: pointer;
  z-index: 7;
}

.drawer_icon-item, .drawer_icon-item:before, .drawer_icon-item:after {
  background-color: #000;
  display: block;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.drawer_icon-item:before {
  content: '';
  top: 10px;
}

.drawer_icon-item:after {
  content: '';
  top: -10px;
}

.drawer_menu a {
	font-size: 15px;
	line-height: 35px;
}

/*コンセプト*/
.concept {
	height: 600px;
}

.title {
	padding: 80px 0;
	padding-bottom: 30px;
	width: 300px;
	background-position: center;
	background-size: 100px;
}

.title h2 {
	font-size: 25px;
}

.concept_intro h3 {
	font-size: 15px;
	line-height: 25px;
	padding-top: 0;
}

.concept_contents {
	flex-direction: column;
	margin-top: 20px;
}

.concept_contents img {
	width: 180px;
	height: 110px;
	padding: 10;
}

.concept_contents p {
	font-size: 13px;
	line-height: 22px;
	vertical-align: middle;
}

.link_button {
	padding-top: 10px;
	margin: 0;
}

.link_button a {
	font-size: 15px;
	padding: 10px;
}

/*商品紹介*/
.products {
	height: 600px;
}

.products_intro h3 {
	font-size: 13px;
	line-height: 22px;
	padding: 0;
}

.products_items {
	width: 260px;
}

.products_items img {
	width: 180px;
	height: 150px;
	padding: 10px;
}

/*ワークショップ*/
.workshop {
	height: 850px;
}

.workshop_contents01 {
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.workshop_contents01 img {
	width: 170px;
	height: 100px;
	padding: 10px;
}

.workshop_contents01 p {
	font-size: 13px;
	line-height: 22px;
	vertical-align: middle;
	padding: 10px;
}

.workshop_contents02 {
	flex-direction: column;
	padding: 10px;
}

.workshop_contents02 img {
	width: 170px;
	height: 100px;
	padding: 10px;
}

.workshop_contents02 span {
	font-size: 15px;
}

.workshop_contents02 p {
	font-size: 13px;
	line-height: 22px;
	vertical-align: middle;
	padding: 10px;
}

/*ニュース*/
.notice {
	height: 1030px;
}

.heading {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.modal_content {
	height: 280px;
}

.content {
	flex-direction: column-reverse;
	align-items: center;
}

.modal_button {
	right: 5px;
	top: 5px;
	font-size: 20px;
	padding: 20px;
}

.notice_01 .content p {
	font-size: 12px;
	line-height: 20px;
	padding: 5px;
	text-align: center;
}

.notice_01 img {
	width: 180px;
	height: 110px;
	margin: 0;
}

.notice_01 span {
	font-size: 15px;
}

.notice_01 p {
	font-size: 12px;
	padding: 0;
	margin-bottom: 25px;
	line-height: 20px;
}

/*アクセス*/
.access {
	height: 780px;
}

.access_contents {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.access_contents img {
	width: 150px;
	height: 190px;
	padding: 10px;
}

.access_contents table {
	text-align: center;
}

.access_contents th {
	font-size: 13px;
	line-height: 18px;
}

.map_link iframe {
	width: 180px;
	height: 180px;
}

/*お問い合わせ*/
.contact {
	height: 1000px;
}

.contact_intro p {
	font-size: 12px;
	line-height: 20px;
	padding: 15px;
}

.Form-Item {
	width: 330px;
}

@media screen and (max-width: 640px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 640px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

@media screen and (max-width: 640px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

/*フッター*/
.footer {
	height: 10px
}

.footer p {
	font-size: 10px;
}

/*================================================
Small Smartphone :  画面の横幅が320pxまで
=================================================*/
@media screen and (max-width:320px){

/*コンセプト*/
.concept_contents p {
	font-size: 12px;
}

.Form-Item {
	width: 300px;
}

@media screen and (max-width: 320px) {
  .Form-Item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
